<!DOCTYPE html>
<html>
  <head>
    <title>LifeProTips</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-shell">
      <%= render "shared/header" %>
      <%= render "shared/flash" %>
      <main class="page-content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
